.hero-area {
    width: 100%;
    z-index: -2;
}

.social-contact a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-size: 22px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: 1px solid #dff6ff;
    color: #dff6ff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.social-contact a:hover {
    border: 1px solid #ff5523;
    background-color: #ff5523;
    color: #dff6ff;
    transition: 0.35s;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
}
.portfolio-title {
    color: #ff5523;
    font-weight: bold;
}
.title {
    color: #1363df;
}
/* Button Area */
.btn-area {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    z-index: 2;
}
a.btn-text {
    display: contents;
    text-decoration: none;
}
/* Image Area */
.portfolio-area,
.image-area {
    padding: 50px 0;
    text-align: center;
}
.img-wraper {
    width: 320px;
    height: 320px;
    background-color: #1e2c38;
    border-radius: 50%;
    display: grid;
    place-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
}

.image-container {
    margin: auto;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #dff6ff;
    border-radius: 50%;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.image-container img {
    width: 100%;
    object-fit: cover;
}
.image-container:hover img {
    transform: translate(1.2);
    -webkit-transform: translate(1.2);
    -moz-transform: translate(1.2);
    -ms-transform: translate(1.2);
    -o-transform: translate(1.2);
}
/* Projects area */
.project-area {
    padding: 80px 0;
    box-shadow: 0px 2px 20px #00000098;
}
.line {
    position: relative;
    width: 300px;
    height: 3px;
    background-color: #ddd;
    margin: 0 auto;
}
.line::after {
    position: absolute;
    content: "";
    background-color: #ff5523;
    display: block;
    width: 30px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.card {
    background-color: transparent;
    color: #dff6ff;
    border: 1px solid #ff5523;
}
.card-image {
    position: relative;
    overflow: hidden;
    height: 200px;
    min-height: 200px;
}
.card-image img {
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: scroll;
    transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
}
.card-image::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.card-image img:nth-child(1):hover {
    top: -700px;
}
.card-text {
    height: 90px;
}
.view-btn {
    padding: 5px 15px;
    background-color: #ff5523;
    border: 1px solid #ff5523;
    border-radius: 6px;
    color: #dff6ff;
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.35s;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
}
.view-btn:hover {
    color: #ff5523;
    background-color: transparent;
}
/* SKILL */
.skill-area {
    padding: 80px 0;
    box-shadow: 0px 2px 20px #0000001e;
}
.skill {
    box-shadow: 5px 5px 20px #00000054;
    border: 1px solid #ff5523;
    padding: 30px 20px;
    border-radius: 50px 0 50px 0;
    -webkit-border-radius: 50px 0 50px 0;
    -moz-border-radius: 50px 0 50px 0;
    -ms-border-radius: 50px 0 50px 0;
    -o-border-radius: 50px 0 50px 0;
}
.skill li {
    font-size: 16px;
    margin: 10px 0;
    color: #dff6ff;
}
.skill-image {
    width: 80%;
}
.skill-image img {
    width: 100%;
    object-fit: cover;
}
/* Project Details */
.project-details {
    padding: 80px 0;
}
.project-wrapper {
    border: 1px solid #ff5523;
    padding: 10px;
}
.project-sample {
    /* height: 260px; */
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 10px;
}
.left-side {
    width: 50%;
}
.right-side {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.left-side img,
.half-img img {
    width: 100%;
    object-fit: contain;
}
.tools-btn:focus {
    outline: none;
    border: none;
}
.details {
    text-align: left;
}
.details h4,
.details p,
.details ul li {
    color: #dff6ff;
}
.details ul li {
    font-size: 12px;
}
.tools-btn {
    border: none;
    background: linear-gradient(#fabab5, #ff2523);
    padding: 0 10px;
    margin: 5px 5px;
}
.link-btn {
    padding: 8px 20px;
    border: 1px solid #1363df;
    margin: 10px;
    color: #dff6ff;
    background-color: transparent;
    border-radius: 15px 0 15px 0;
    -webkit-border-radius: 15px 0 15px 0;
    -moz-border-radius: 15px 0 15px 0;
    -ms-border-radius: 15px 0 15px 0;
    -o-border-radius: 15px 0 15px 0;
}
.pro-title {
    border-bottom: 1px solid #f3c3ae;
}
