button.navbar-toggler {
    border: none !important;
    outline: none;
    background-color: transparent;
    color: black;
}
.navbar-toggler:focus {
    outline: none;
    border: none !important;
}
.nav-item a {
    position: relative;
    display: inline-block;
}
.active {
    border-bottom: 2px solid #ff5523;
    font-weight: bold;
}
